/* Style du tableau des produits dans le panier */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

.imgpanier {
  max-width: 80px; /* Ajuster la taille de l'image */
  height: auto;
}

.btnremove {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button {
  margin-top: 5px;
  background: rgb(202, 193, 193);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

input[type="number"] {
  margin-right: 5px;
  width: 60px;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
}

.btnback a {
  text-decoration: none;
  color: black;
}

.gopayment a {
  text-decoration: none;
  color: black;
}
.btnback,
.gopayment {
  width: 150px;
  height: auto;
  color: white;
}

.btnback:hover,
.gopayment:hover {
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.btnback:active,
.gopayment:active {
  transform: scale(0.9);
}

.total-amount {
  font-size: 20px;
  font-weight: bold;
  color: orangered;
}

.no-product-message {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.Noproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 400px; /* Ajuster cette largeur si nécessaire */
}

.Noproduct img {
  max-width: 100%;
  height: auto;
}

/* CSS pour les boutons d'ajout et de soustraction de la quantité */
.quantiteplus,
.quantiteless {
  border-radius: 50%; /* Pour donner une forme circulaire */
  border: none;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.quantiteplus:hover,
.quantiteless:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre au survol */
}

/* CSS pour le span affichant la quantité */
.spanquantity {
  text-align: center;
  margin: 0 10px; 
  font-weight: bold; 
}

