/* stylepayment.css */

/* Style général de la page */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column {
  flex: 1;
}

.column.left {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.divproduct1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divproduct {
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.divpanier {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imgpanier {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  color: #45d62e;
  margin-bottom: 5px;
}

.total-amount {
  font-size: 24px;
  font-weight: bold;
  color: #45d62e;
  text-align: center;
  margin-top: 20px;
}

.btnback {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #45d62e;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  z-index: 1;
}

.btnback a {
  color: black;
  text-decoration: none;
}

.btnback:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* Style de la colonne de droite */
.column.right {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  color: green;
}

.safe-info-img {
  margin-top: 20px;
  border: 2px solid green;
  border-radius: 5px;
}

/* Styles pour le conteneur du tableau */
.total-panier {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: right; /* positionnement à droite */
}

/* Styles pour le tableau */
.total-panier-table {
  width: 100%;
  border-collapse: collapse; /* Fusionne les bordures du tableau */
  border: none; /* Supprime toutes les bordures */
}

/* Styles pour les cellules d'en-tête */
.total-panier-table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid black; /* Ajoute uniquement la bordure du bas */
}

/* Styles pour les cellules de données */
.total-panier-table td {
  padding: 10px;
  border-bottom: 1px solid black; /* Ajoute uniquement la bordure du bas */
}

/* Styles pour le bouton */

.gopayment a {
  text-decoration: none;
  color: black;
}

.gopayment {
  background-color: #45d62e; /* couleur verte */
  color: white;
  border: none;
  padding: 15px 30px; /* ajustement de la taille */
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: auto;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 14px; /* taille du texte */
  font-family: Arial, sans-serif; /* police du texte */
  font-weight: bold; /* poids du texte */
  text-transform: uppercase; /* en majuscules */
  position: relative; /* position relative */
}

.gopayment:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
